body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orenge-color{
    color: orange;
}
.flexible-item{
    display: flex;
    margin-bottom: 150px;
}
.width-area{
    width: 50%;
    padding: 10px;
}

.width-area img{
    width: 80%;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px; 
    font-weight: 700;
    border-radius: 15px;
}

.section-one-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.section-two-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.developer-card{
  box-shadow: 10px 15px 30px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
}
.experience-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#experienced-developer{
    border-left: 7px solid;
    border-image:linear-gradient(orange,tomato);
    border-image-slice: 1;

}
#baby-developer{
    border-left: 7px solid;
    border-image: linear-gradient(green,blue);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}
